.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #098375;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.keypad-container {
  width: 500px;
}

.ui.input.pin-input > input,
.ui.input.pin-input > input:focus {
  color: transparent;
  text-shadow: 0 0 0 #282c34;
  letter-spacing: 70px;
  width: 500px;
  padding-left: 75px;
}

.error-message {
  height: 20px;
  font-size: 20px;
  color: firebrick;
  font-weight: bold;
  margin-top: 20px;
}
